*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat';
    font-size: 20px;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    background-color: rgb(37,37,37);
    padding: 50px 0;
}
section h1{
    color: rgba(255,255,255,0.3222);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

section p{
    color: rgba(255,255,255,0.3222);
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.container{
    width: 90%;
    max-width: 500px;
    justify-content: center;
    margin: 0 auto;
}

.texts p{
    text-align: left;
    color: black;
    width: 100%;
    background-color: white;
    padding:10px;
    border-radius: 8px;
    margin-bottom: 10px;


}